<main class="container py-5">
  <a style="border-width: 1px; border-color: black;" class="btn" href="/empathize">Back</a>
    <h1>Empathy Maps <a style="text-decoration: none;" href="/empathymaps/new">(New+)</a></h1>
    <p class="lead">Create EmpathyMaps to help empathize with students.</p>
    <%- include('../../partials/filter', { link: "empathymaps"}) %>
    <hr class="my-5">
    <%- include('../../partials/objectGrid') %>
  </main>