<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CDTToolkit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/learn">Learn</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" aria-disabled="true">Disabled</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/create">Home</a></li>
              <li><a class="dropdown-item" href="/empathize">Empathize</a></li>
              <li><a class="dropdown-item" href="/define">Define</a></li>
              <li><a class="dropdown-item" href="/ideate">Ideate</a></li>
              <li><a class="dropdown-item" href="/prototype">Prototype</a></li>
              <li><a class="dropdown-item" href="/test">Test</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link active" href="/account/login">Login</a></li>
            <li class="nav-item"><a class="nav-link active" href="/auth/logout">Logout</a></li>
            <!-- <li class="nav-item"><a class="nav-link active" href="/account/teams">Teams</a></li> -->
        </ul>
      </div>
    </div>
  </nav>