<main class="container py-5">
  <a style="border-width: 1px; border-color: black;" class="btn" href="/define">Back</a>
    <h1>Need Statements <a style="text-decoration: none;" href="/statements/new">(New+)</a></h1>
    <p class="lead">Define with just one statement.</p>
    <%- include('../../partials/filter', { link: "statements"}) %>
    <hr class="my-5">
    <%- include('../../partials/objectGrid') %>
  </main>