<div class="image-details-grid">
            <div class="image-details-label">Statement:</div>
            <div><%= creation.name %></div>
            <!-- <div class="image-details-label">Affiliation:</div>
            <div><= persona.status %></div> -->
            <div class="image-details-label">Created:</div>
            <div><%= creation.createdAt.toDateString() %></div>
            <div class="image-details-label">User:</div>
            <div><%= creation.user.email %></div>
            <!-- <div class="image-details-label">Created By:</div>
            <div><= persona.user.email %></div> -->
            <br>
        </div>