<h1 class="dt__heading1">What is Design Thinking?</h1>
        <p class="dt__paragraph">Design thinking is an approach to understanding problems and developing solutions based on the work of expert designers. Design thinking has been applied to many fields beyond traditional design disciplines. Design thinking emphasizes empathy to better understand user needs, flexible and curious problem exploration, creative generation of potentially innovative concepts, and frequent, iterative development of potential solutions.
        </p>
        <h1 class="dt__heading2">Why is it Important?</h1>
            <p class="dt__paragraph">While design thinking does not perfectly align with traditional course design approaches among engineering faculty, it has been successful because it unlocks new opportunities and can be flexibly adapted to engineering educators' unique approaches and contexts.
                <br><br> Empathy for users promotes deeper engagement with students and enhanced perspectives on the challenges they face that affect their class experience and performance.
                <br> <br> Flexible and curious problem exploration helps identify overlooked issues that can be a better use of one's course design efforts.
                <br> <br> Creative concept generation promotes a greater volume and variety of potentially impactful ideas to incorporate into a course. It's also a lot of fun!
                <br> <br> Frequent, iterative development of course prototypes promotes learning from missteps before it's too late and deeper engagement in the process.
                </p>
                <a id="stagesLink"></a>
                <h1 class="dt__heading1">Stages</h1>
                <p class="dt__paragraph2">
                    Course design thinking can be described as a five-stage process. Each stage serves an important, unique function in the overall process. However, there is frequent iteration and movement between stages. Stages include:
<br> <br> Empathize with students - Develop a better understanding of students' experiences, perspectives, and needs through engagement, observation, connection, and analysis.
<br><br> Define a resonant problem - Develop a specific design problem based on iterative understanding of student needs.
<br><br> Ideate a variety and volume of concepts - Generate many potentially impactful ideas that can inform course changes, especially through conscious effort and visual methods.
<br><br> Prototype course ideas early and often - Develop a variety of prototypes representing portions of a course or course changes to be tested with users.
<br><br> Testing prototypes with students - Share prototypes with students or their proxies to evaluate the effectiveness of addressing the defined problem. This can lead to new insights that refine outcomes in earlier stages.
                </p>
            <div class="widt__logos">
                <div class="widt__container">
                <a href="Stages.html">
                    <div class="services__card--empathize">
                        <!-- <button class="container__EmpToolButton">EMPATHIZE</button> -->
                    </div>
                </div>
                <div class="widt__container">
                <a href="/Stages.html#defineContainer">
                    <div class="services__card--define">
                        <!-- <button>DEFINE</button> -->
                    </div>
                </div>
                <div class="widt__container">
                <a href="Stages.html#ideateContainer">
                    <div class="services__card--ideate">
                        <!-- <button>IDEATE</button> -->
                    </div>
                </div>
                <div class="widt__container">
                <a href="Stages.html#prototypeContainer">
                    <div class="services__card--prototype">
                        <!-- <button>PROTOTYPE</button> -->
                    </div>
                </div>
                <div class="widt__container">
                <a href="Stages.html#testContainer">
                    <div class="services__card--test">
                        <!-- <button>TEST</button> -->
                    </div>
                </div></a>
            </div>
            <h1 class="dt__heading2">How Tools Can Help</h1>
        <p class="dt__paragraph">
            Many tools exist to support quality approaches and outcomes in each stage. The tools take the form of structures, frameworks, and guidelines that orient designers (you) more effective work in each stage. Tools relevant to each stage are extensive, varied, and easily accessible through organization websites, blogs, and toolkits. We've highlighted a few that we've found particularly useful (and fun).
            <a href="/Tools.html">See Tools Here</a>
        </p>
        <h1 class="dt__heading1">What are Mindsets?</h1>
        <p class="dt__paragraph">
            Mindsets are beliefs that orient one's approach or actions. You may be familiar with the growth/fixed mindset. Several other mindsets are particularly relevant to design thinking, typically manifesting as tendencies in your design approach. For example, the empathetic mindset is founded in a belief that understanding and connecting with users is important to the design process and a key part of one's design ethos. This belief orients designers to deeply consider user perspectives and experiences and directly engage them throughout the design process. You may find that some mindsets align better with your beliefs and approaches than others. That's fine! Developing these mindsets is often part of your course design thinking journey. It also helps to work with others who demonstrate mindsets different from your own.
            <a href="/Mindsets.html">See Mindsets Here</a>
        </p>
        <h1 class="dt__heading3">Why Might You Try Course Design Thinking?</h1>
        <p class="dt__paragraph2">
            -- You're having trouble understanding why students do what they do
<br><br> -- You want to improve teaching evaluations
<br><br> -- Students aren't learning what you think they should and you don't know why
<br><br> -- You have something you want to try out in your course but you can't figure out how
<br><br> -- You're new to teaching or course development and you want some guidance
<br><br> -- You're a veteran course designer but you feel your methods becoming stale
        </p>
        <div class="stages__page">
            <div class="emp__container">
                <div class="emp__container--heading">
                    <h1 class="heading"><span class="highlightme">Stage 1: Empathize</span></h1>
                </div> 
                <div class="emp__main--container">
                    <p class="paragraph">Empathize (with students) is the first stage in course design thinking. In this stage, you acknowledge students (or other stakeholders) as the end-users of your design (i.e., your course) and learn about their experiences, perspectives, challenges, and needs related to your course context.

                    <br><br>    The use of "empathize" rather than "understand" signifies a deeper cognitive, and even emotional, connection beyond surface knowledge of a "typical student." Using "empathize" also signifies the differences in students, who may interact with your course in different ways, have different needs, and respond differently to changes you make.
                        
                    </p>
                    <div class="empbtn">
                        <!--<img src="images/designthinking.png" class="image">-->
                    </div>
                    <h2 class="pcd__heading">Why is it Important?</h2>
                    <p class="pcd__paragraph">
                        This stage is important because it sets the groundwork for all other stages. 
                    </p>
                    <h2 class="tools__heading">How do I do it?</h2>
                    <div class="empbtn">
                        <!-- <img src="images/Empathy-Mapping.png" class="image"> -->
                        <!-- <button onclick="location.href='/EmpathyMap-Tool.html'">Empathy Mapping</button> -->
                        <p class="tools__paragraph">
                            ---------------------------------------------------
                        </p>
                    </div>
                    <h2 class="act__heading">What Might be Challenging?</h2>
                    <p class="act__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                </div>
                <a id="defineContainer"></a>
            </div>
            <div class="def__container">
                <div class="def__container--heading">
                    <h1 class="heading"><span class="highlightme">Stage 2: Define</span></h1>
                </div> 
                <div class="def__main--container">
                    <p class="paragraph">The first stage of the design thinking process is empathize. The main goals of the empathize <br>
                        stage are to learn about users and their contexts, develop insights that inform problem definition <br>
                        and concept development, and engage users in the process to build trust.
                    </p>
                    <div class="empbtn">
                        <!--<img src="images/designthinking.png" class="image">-->
                    </div>
                    <h2 class="pcd__heading">Why is it Important?</h2>
                    <p class="pcd__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                    <h2 class="tools__heading">How do I do it?</h2>
                    <div class="empbtn">
                        <!-- <img src="images/Empathy-Mapping.png" class="image"> -->
                        <!-- <button onclick="location.href='/EmpathyMap-Tool.html'">Empathy Mapping</button> -->
                        <p class="tools__paragraph">
                            ---------------------------------------------------
                        </p>
                    </div>
                    <h2 class="act__heading">What Might be Challenging?</h2>
                    <p class="act__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                </div>
                <a id="ideateContainer"></a>
            </div>
            
            <div class="ide__container">
                <div class="ide__container--heading">
                    <h1 class="heading"><span class="highlightme">Stage 3: Ideate</span></h1>
                </div> 
                <div class="ide__main--container">
                    
                    <p class="paragraph">The first stage of the design thinking process is empathize. The main goals of the empathize <br>
                        stage are to learn about users and their contexts, develop insights that inform problem definition <br>
                        and concept development, and engage users in the process to build trust.
                    </p>
                    <div class="empbtn">
                        <!--<img src="images/designthinking.png" class="image">-->
                    </div>
                    <h2 class="pcd__heading">Why is it Important?</h2>
                    <p class="pcd__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                    <h2 class="tools__heading">How do I do it?</h2>
                    <div class="empbtn">
                        <!-- <img src="images/Empathy-Mapping.png" class="image"> -->
                        <!-- <button onclick="location.href='/EmpathyMap-Tool.html'">Empathy Mapping</button> -->
                        <p class="tools__paragraph">
                            ---------------------------------------------------
                        </p>
                    </div>
                    <h2 class="act__heading">What Might be Challenging?</h2>
                    <p class="act__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                </div>
                <a id="prototypeContainer"></a>
            </div>
            <div class="pro__container">
                
                <div class="pro__container--heading">
                    <h1 class="heading"><span class="highlightme">Stage 4: Prototype</span></h1>
                    
                </div> 
                <div class="pro__main--container">
                    <p class="paragraph">The first stage of the design thinking process is empathize. The main goals of the empathize <br>
                        stage are to learn about users and their contexts, develop insights that inform problem definition <br>
                        and concept development, and engage users in the process to build trust.
                    </p>
                    <div class="empbtn">
                        <!--<img src="images/designthinking.png" class="image">-->
                    </div>
                    <h2 class="pcd__heading">Why is it Important?</h2>
                    <p class="pcd__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                    <h2 class="tools__heading">How do I do it?</h2>
                    <div class="empbtn">
                        <!-- <img src="images/Empathy-Mapping.png" class="image"> -->
                        <!-- <button onclick="location.href='/EmpathyMap-Tool.html'">Empathy Mapping</button> -->
                        <p class="tools__paragraph">
                            ---------------------------------------------------
                        </p>
                    </div>
                    <h2 class="act__heading">What Might be Challenging?</h2>
                    <p class="act__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                </div>
                <a id="testContainer"></a>
            </div>
            <div class="test__container">
                
                <div class="test__container--heading">
                    <h1 class="heading"><span class="highlightme">Stage 5: Test</span></h1>
                    
                </div> 
                <div class="test__main--container">
                    <p class="paragraph">The first stage of the design thinking process is empathize. The main goals of the empathize <br>
                        stage are to learn about users and their contexts, develop insights that inform problem definition <br>
                        and concept development, and engage users in the process to build trust.
                    </p>
                    <div class="empbtn">
                        <!--<img src="images/designthinking.png" class="image">-->
                    </div>
                    <h2 class="pcd__heading">Why is it Important?</h2>
                    <p class="pcd__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                    <h2 class="tools__heading">How do I do it?</h2>
                    <div class="empbtn">
                        <!-- <img src="images/Empathy-Mapping.png" class="image"> -->
                        <!-- \
                            <button onclick="location.href='/EmpathyMap-Tool.html'">Empathy Mapping</button> -->
                        <p class="tools__paragraph">
                            ---------------------------------------------------
                        </p>
                    </div>
                    <h2 class="act__heading">What Might be Challenging?</h2>
                    <p class="act__paragraph">
                        -----------------------------------------------------------------------
                    </p>
                </div>
            </div>
        </div>