<nav class="stage-header-nav">
    <div class="container px-4 py-5">
        <!-- <h2 class="pb-2 border-bottom">Features with title</h2> -->
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="col d-flex flex-column align-items-start gap-2">
            
            <h2 class="fw-bold text-body-emphasis">Create</h2>
            <p class="text-body-secondary">With the Course Design Thinking Toolkit, you can use a variety of tools in all stages of design thinking to help you develop an effective course.</p>
            <a href="/empathize" class="btn btn-primary btn-lg">Get Started</a>
          </div>
    
          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-3">
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line>
                    <use xlink:href="#collection" />
                  </svg>
                </div>
                <a style="text-decoration: none;" href="/empathize"><h4 class="fw-semibold mb-0 text-body-emphasis">Empathize</h4></a>
                <p class="text-body-secondary">To help you empathize with your audience. This is usually the first step of the design thinking process.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle>
                    <use xlink:href="#gear-fill" />
                  </svg>
                </div>
                <a style="text-decoration: none;" href="/define"><h4 class="fw-semibold mb-0 text-body-emphasis">Define</h4></a>
                <p class="text-body-secondary">Define your problem. Do this after you have empathized with your target demographic.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
                    <use xlink:href="#speedometer" />
                  </svg>
                </div>
                <a style="text-decoration: none;" href="/ideate"><h4 class="fw-semibold mb-0 text-body-emphasis">Ideate</h4></a>
                <p class="text-body-secondary">Come up with ideas for your solution.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line>
                    <use xlink:href="#table" />
                  </svg>
                </div>
                <a style="text-decoration: none;" href="/prototype"><h4 class="fw-semibold mb-0 text-body-emphasis">Prototype</h4></a>
                <p class="text-body-secondary">Turn your ideas into creations.</p>
              </div>
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                    <use xlink:href="#table" />
                  </svg>
                </div>
                <a style="text-decoration: none;" href="/test"><h4 class="fw-semibold mb-0 text-body-emphasis">Test</h4></a>
                <p class="text-body-secondary">Test your prototypes with your audience.</p>
              </div>
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                </div>
                <a style="text-decoration: none;" href="/notes"><h4 class="fw-semibold mb-0 text-body-emphasis">Notes</h4></a>
                <p class="text-body-secondary">Jot down any thoughts you have.</p>
              </div>
              <!-- <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                    <use xlink:href="#table" />
                  </svg>
                </div>
                <a style="text-decoration: none;" href="/resources"><h4 class="fw-semibold mb-0 text-body-emphasis">Resources</h4></a>
                <p class="text-body-secondary">Add resources that will help you throughout this process.</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
</nav>