<main class="container py-5">
  <a style="border-width: 1px; border-color: black;" class="btn" href="/ideate">Back</a>
    <h1>Brainstorms <a style="text-decoration: none;" href="/brainstorms/new">(New+)</a></h1>
    <p class="lead">Create many ideas in one session.</p>
    <%- include('../../partials/filter', { link: "brainstorms"}) %>
    <hr class="my-5">
    <%- include('../../partials/objectGrid') %>
  </main>