<canvas height="200px" id="myChart"></canvas>
<div class="form-row">
    <div class="form-item" style="border: 2px solid white; padding: 20px; border-radius: 2rem; background-color: whitesmoke;">
        <div class="image-details-label">Created: <%= creation.createdAt.toDateString() %></div>
    </div>
    <div class="form-item" style="border: 2px solid white; padding: 20px; border-radius: 2rem; background-color: whitesmoke;">
        <div class="image-details-label">User: <%= creation.user.email %></div>
    </div>
</div>
        
        <div style="display: none;" id="mydiv"><%= creation.chart %></div>
        <div style="display: none;" id="annotations"><%= creation.annotations %></div>
        <script>
            var data = JSON.parse(document.getElementById('mydiv').innerText);
            var annotations = JSON.parse(document.getElementById('annotations').innerText);

    let ctx = document.getElementById('myChart');
    let chart1 = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            // events: ['mousedown', 'mouseup', 'mousemove', 'mouseout'],
            plugins: {
                legend: {
                    position: 'bottom',
                    // display: false
                    display: true
                },
                annotation: {
                    enter: (ctx) => enter(ctx),
                    leave: (ctx) => leave(ctx),
                    common: {
                        drawTime: 'beforeDraw'
                    },
                    annotations
                },
                tooltip: {
                    display: false
                }
            },
            scales: {
                y: {
                    title: {
                        display: false,
                        text: "Enter Construct"
                    },
                    ticks: {
                        // display: false
                        display: true
                    },
                    grid: {
                        // display: false
                        display: true
                    },
                    beginAtZero: true,
                    display: true,
                    suggestedMin: 0,
                    suggestedMax: 100
                },
                x: {
                    position: 'top',
                    ticks: {
                        // display: false
                        display: true
                    },
                    grid: {
                        // display: false 
                        display: true
                    }
                }
            }
        }
        });
        </script>
        