<main class="container py-5">
  <a style="border-width: 1px; border-color: black;" class="btn" href="/ideate">Back</a>
    <h1>Lotus Blossoms <a style="text-decoration: none;" href="/lotusblossoms/new">(New+)</a></h1>
    <p class="lead">Create a lotus blossom to help you ideate.</p>
    <%- include('../../partials/filter', { link: "lotusblossoms"}) %>
    <hr class="my-5">
    <%- include('../../partials/objectGrid') %>
  </main>